---
import kenChaseLogo from '../assets/ken-chase-logo.svg?raw';
import Link from '../components/Link.astro';
export interface Props {
  siteName?: string;
  siteTagLine?: string;
  logo?: string;
  navigationItems?: Array<{ href: string; text: string }>;
  classList?: string;
}
const { siteName = 'Ken Chase', siteTagLine = 'Canadian web designer, photographer, and musician', logo, navigationItems = [], classList, ...rest } = Astro.props;
---

<header class:list={['header', classList]} {...rest}>
  <div class="region region-masthead">
    <div class="wrapper">
      <div class="masthead flow">
        <a href="/" class="masthead__heading">
          <span class="visually-hidden">{siteName}</span>
          <Fragment set:html={kenChaseLogo} />
        </a>
        <p class="masthead__tagline">{siteTagLine}</p>
      </div>
    </div>
  </div>
  <div class="region region-nav">
    <div class="wrapper">
      <nav aria-label="primary" class="nav-primary">
        <ul role="list" class="cluster nav-primary__list">
          {
            // Map through the main navigation items and create links (implicit return)
            navigationItems.map((item) => (
              <li>
                <Link href={item.href} classList="nav-primary__link">
                  {item.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
