---
import { ClientRouter } from "astro:transitions";
export interface Props {
  title: string;
  description?: string;
  classList?: string;
  gtmId?: string;
  typescriptId?: string;
}
const { title, description, classList, gtmId, typescriptId} = Astro.props;
---

<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    {gtmId && (
      <script define:vars={{gtmId}}>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer',gtmId);
      </script>
    )}
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <ClientRouter />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/site.webmanifest" />
    {typescriptId && (
      <link rel="preload" href=`https://use.typekit.net/${typescriptId}.css` />
      <link rel="stylesheet" href=`https://use.typekit.net/${typescriptId}.css` />
    )}
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {title && (
      <meta name="title" content={title} />
    )}
    {description && (
      <meta name="description" content={description} />
    )}
    <title>{title}</title>
  </head>
  <body class:list={['header', classList]}>
      <!-- Google Tag Manager (noscript) -->
      {gtmId && (
        <noscript>
          <iframe src={`https://www.googletagmanager.com/ns.html?id=${gtmId}`} height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
      )}
      <!-- End Google Tag Manager (noscript) -->
      <slot />
  </body>
</html>
